/*.retro { color: #d7ceb2; text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72; font: 20px 'BazarMedium'; letter-spacing: 1px; }*/



	.reset
	{
	border-radius: 100px;
    height: 60px;
    width: 160px;
    background-color: green;
    font-size: 20px;
    color: white;
    border-style: hidden;
    overflow: hidden;
    border-image-repeat: stretch;
    background-image: url('images/btt3.png');
    margin-left:-10px;
    margin-top:70%;
    
    /*margin-left:-10%;
 /*  background: url('images/play.png');*/
	}
	
	.txt1
	{
	/*text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 11px #fff, 0 0 17px #2dff2d, 0 0 27px #2dff2d, 0 0 37px #2dff2d, 0 0 47px #2dff2d, 0 0 77px #2dff2d;*/
	font-size: 30px;
	 color: white;
	 text-shadow: -5px 5px 5px rgba(0,0,0,0.3);
	 margin-top:3%;
	 /*text-shadow: 0 1px green, -1px 0 green, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px red, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;*/ 
	}
	.txt2
	{
	font-size: 20px;
	 color: white;
	 text-shadow: -5px 5px 5px rgba(0,0,0,0.3);
	margin-left:-15px;
	}
	
	.heardnext1
	{
	width:100px;
	height:100px;
	
	}
	
	body
	{
	background:url('images/sky-grass.png');
	/*background-image: url('images/rain2.jpg');*/
	border-style: hidden;
    overflow: hidden;
    border-image-repeat: stretch;
	height:350px;
	
	
	/*width:100%;
	height:100%;*/
	}
	
	
	.btnfst {
    /*border: 2px solid #8AC007;*/
    border-radius: 100px;
    height: 60px;
    width: 220px;
   /* background-color: #1E90FF;*/
    font-size: 30px;
    color: white;
    border-style: hidden;
    overflow: hidden;
    border-image-repeat: stretch;
    background-image: url('images/btt3.png');
    /*border: none;
     outline: none;
    /*-moz-outline-style: none;*/
}
	div.maindiv {
    width: 100%;
    height: 100%;
    text-align: center;
    /*background-color: black;
    background: url('images/frm3.gif');*/
    
}
.level1
{
	border-radius: 100px;
    height: 110px;
    width: 110px;
    /*background-color: #1E90FF;*/
	background-image: url('images/playy.png');
	border-style: hidden;
    overflow: hidden;
    border-image-repeat: stretch;
    margin-top:10%;
    text-align: center;
}	

.frm1
{
	background-image: url('images/frm3.gif');
	border-style: hidden;
    overflow: hidden;
    border-image-repeat: stretch;
	
}